<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Sofía Hernández Zatarain.

**Fecha:** 09 de febrero del 2023.

**Expediente** : 727151.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: Link con el enlace del repositorio del creador del proyecto

# Tarea 2: Clase 4

### Ejercicio 1: 

Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:

| Order Number |       Book Title and Author      | Quantity | Price per Item |
|--------------|----------------------------------|----------|----------------|
|    34587     |    Learning Python, Mark Lutz    |     4    |      40.95     |
|    98762     |   Programming Python, Mark Lutz  |     5    |      56.80     |
|    77226     |   Head First Python, Paul Barry  |     3    |      32.95     |
|    88112     |Einfuhrung in Python3, Bernd Klein|     3    |      24.99     |

Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [6]:
# Código de solución estudiante 1 - Sofía Hernández Zatarain

orders_est1 = [["34587", "Learning Python, Mark Lutz", 4, 40.95], 
              ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
              ["77226", "Head First Python, Paul Barry", 3,32.95],
              ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

tuplas = list(map(lambda x: (x[0], x[2] * x[3] + 10 if x[2] * x[3] < 100 else x[2] * x[3]), orders_est1))

print(tuplas)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

In [17]:
# Código de solución estudiante 2 - Bernardo Ramírez
orders1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
tuplas = list(map(lambda x: (x[0], (x[2]*x[3])+10 if (x[2]*x[3]) < 100 else x[2]*x[3]), orders1))
print(tuplas)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

### Ejercicio 2: 

La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [5]:
# Librerías
from functools import reduce

In [12]:
# Código de solución estudiante 1 - Sofía Hernández Zatarain

orders2_est1 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
               [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
               [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
               [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)]]

fun = lambda x: x[-1] * x[-2] + 10 if x[-1] * x[-2] < 100 else x[-1] * x[-2]

tuplas2 = [(order[0], reduce(lambda x, y: x * y, [fun(i) for i in order[1: ]])) for order in orders2_est1]
tuplas2

[(1, 4725810.37476),
 (2, 40418.5905),
 (3, 27464.259899999997),
 (4, 3919302.280575)]

In [15]:
# Código de solución estudiante 2 - Bernardo

orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)]]

ped =  lambda x: x[-1] * x[-2] + 10 if x[-1] * x[-2] < 100 else x[-1] * x[-2]
multi= lambda x,y: x*y
tuples = [(orden[0], reduce(multi, [ped(i) for i in orden[1: ]])) for orden in orders2]
tuples

[(1, 4725810.37476),
 (2, 40418.5905),
 (3, 27464.259899999997),
 (4, 3919302.280575)]

### Ejercicio 3: 

Resolver los anteriores ejercicios usando pandas (DataFrame)

In [24]:
# Librerías

import pandas as pd

In [30]:
# Código de solución estudiante 1 - Sofía Hernández Zatarain

data = tuplas

df_est1 = pd.DataFrame(data, columns = ['Order Number', 'Price'])
df_est1

  Order Number   Price
0        34587  163.80
1        98762  284.00
2        77226  108.85
3        88112   84.97

In [31]:
data2 = tuplas2

df2_est1 = pd.DataFrame(data2, columns = ['Order Number', 'Price'])
df2_est1

   Order Number         Price
0             1  4.725810e+06
1             2  4.041859e+04
2             3  2.746426e+04
3             4  3.919302e+06

In [24]:
# Código de solución estudiante 2 - Bernardo
import pandas as pd
df1 = pd.DataFrame(orders1, columns=('numero_orden', 'titulo_autor', 'cantidad','precio'))
dfsol1= pd.DataFrame()
dfsol1['NumeroPedido']= df1['numero_orden']
dfsol1['TotalPedido']= df1['cantidad']*df1['precio']
dfsol1['TotalPedido']=dfsol1['TotalPedido'].where(dfsol1['TotalPedido']>100,dfsol1['TotalPedido']+10)
dfsol1

  NumeroPedido  TotalPedido
0        34587       163.80
1        98762       284.00
2        77226       108.85
3        88112        84.97

### Ejercicio 4:

Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [27]:
# Código de solución estudiante 1 - Sofía Hernández Zatarain

lista_est1 = 'the notion of a lambda function goes all the way back to the origin of computer science'.split()

filtro = list(filter(lambda p: len(p) >= 4, lista_est1))
filtro

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

In [29]:
# Código de solución estudiante 2 - Bernardo
liste='the notion of a lambda function goes all the way back to the origin of computer science'.split()
filtre = list(filter(lambda x: len(x) >= 4, liste))
filtre

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

### Ejercicio 5: 

 Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [42]:
# Librerías

import numpy as np

In [53]:
# Código de solución estudiante 1 - Sofía Hernández Zatarain

np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)

far_est1 =list(filter(lambda x: 32 <= x <= 80, temperatures))
far_est1

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

In [37]:
# Código de solución estudiante 2 - Bernardo
import numpy as np 
np.random.seed(55555)
temperaturas = np.random.uniform(25,110,30)

far_est1 =list(filter(lambda x: 32 <= x <= 80, temperaturas))
far_est1
print(f'El porcentaje que hay en el rango de 32 a 80 es de: {len(far_est1)*100/len(temperaturas)}')

El porcentaje que hay en el rango de 32 a 80 es de: 46.666666666666664

### Ejercicio 6:

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [58]:
# Código de solución estudiante 1 - Sofía Hernández Zatarain

np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])

minimo = np.minimum.reduce(point_xy)
minimo

array([0, 2])

In [59]:
# Código de solución estudiante 2 - Bernardo

In [41]:
# Código de solución estudiante 2
np.random.seed(55555)
xy = np.random.randint(0,100,[30,2])

minimo = np.minimum.reduce(xy)
minimo

array([0, 2])